<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>vZC70rEkM2t8kPLn0u7u0qLT0Gojv5RO7fG320DY</string>
	<key>appID</key>
	<string>iI6GGonEOOfCJIuS5KQikkA4CfYFcnC7MBT7PloI</string>
</dict>
</plist>
